## 第五章 DataFrame中常规数据统计

### 1.Series中数据不同值出现的个数统计(unique(),value_counts()) 
* ### (Series的方法)

In [1]:
#### Series的方法unique()、vaule_counts()
#这两个方法只对Series能用，DataFrame不能用
import pandas as pd
oly=pd.read_csv('olympics.csv',skiprows=4)

#看一下该Series有哪些不同的值，返回一个array,非常有用
oly.Gender.unique()   #非常有用

#统计该Series中的不同数据出现的次数，dropna默认为True,表示统计时不包括缺失值
oly.Gender.value_counts(ascending=True,dropna=True) #非常有用

Women     7495
Men      21721
Name: Gender, dtype: int64

### 2.DataFrame各数值类型列的统计量描述(describe())

In [20]:
import pandas as pd
sales=pd.read_excel('sales-funnel.xlsx')
sales.describe()    #显示DataFrame中具有数值型数据的三列的常用统计量

             Account   Quantity          Price
count      17.000000  17.000000      17.000000
mean   462254.235294   1.764706   30705.882353
std    259093.442862   1.032558   28444.605609
min    141962.000000   1.000000    5000.000000
25%    218895.000000   1.000000    7000.000000
50%    412290.000000   2.000000   30000.000000
75%    714466.000000   2.000000   40000.000000
max    740150.000000   5.000000  100000.000000

### 3.DataFrame各数值类型按行、按列列统计方法

In [11]:
import pandas as pd
import numpy as np
#1.生成DataFrame
data2=np.arange(12).reshape((3,4))
f5=pd.DataFrame(data2,columns=['n1','n2','n3','n4'],index=['wyx','yyf','glf'])
print(f5)
print()
f5.columns=['xn1','xn2','xn3','xn4']  #可以直接修改DataFrame的列索引
f5.index=['xwyx','xyyf','xglf']       #可以直接修改DataFrame的行索引

#2.对DataFrame中各数值型列一并进行相应的运算或统计
f5.mean(axis=0)    #统计数值型各列均值，也是默认值的情况
f5.mean(axis=1)    # 统计数值型各行均值
f5.std()           #统计数值型各列标准差
f5.max()           #统计数值型各列最大值
f5.min()           #统计数值型各列最小值
f5.sum()           #统计数值型各列求和

#3.对DataFrame中指定的列进行相应的计算或统计
#重要说明：由于DataFrame中的1列就是一个Series，而Series就和array一样支持Numpy的基
#本运算操作，如向量化四则运算以及统计运算,这个很重要！
f5.xn1.mean() 
np.sin(f5.xn1)

     n1  n2  n3  n4
wyx   0   1   2   3
yyf   4   5   6   7
glf   8   9  10  11

xwyx    0.000000
xyyf   -0.756802
xglf    0.989358
Name: xn1, dtype: float64

#### 练习题1：读入当前工作目录下的数据文件selftest2.csv，统计该数据文件中'height'列中有几种不同的值，并统计这些不同值出现的次数。

In [2]:
#参考答案
import pandas as pd
selftest=pd.read_csv('selftest2.csv')
selftest.height.unique()  
selftest['height'].value_counts(ascending=True,dropna=True)

X      4
Xl     7
Xxl    7
Name: height, dtype: int64

#### 练习题2：读入当前工作目录下的数据文件selftest2.csv,给出该数据文件中数值类型列的统计量描述。

In [7]:
#参考答案；
import pandas as pd
selftest=pd.read_csv('selftest2.csv')
selftest.describe()

             age       test        math     physics     english
count  18.000000  18.000000   18.000000   18.000000   18.000000
mean   42.611111  78.222222   74.611111   83.000000   76.833333
std    17.872552  15.813455   19.205204   15.358462   12.715206
min    25.000000  40.000000   20.000000   60.000000   60.000000
25%    35.000000  70.000000   67.750000   74.000000   65.000000
50%    36.000000  81.500000   79.500000   81.500000   74.500000
75%    45.000000  93.000000   88.000000   88.500000   88.750000
max    85.000000  97.000000  100.000000  127.000000  100.000000

#### 练习题3：读入当前工作目录下的数据文件selftest2.csv,给出该数据文件中math列数据的均值，并打印出来。

In [14]:
#参考答案；
import pandas as pd
selftest=pd.read_csv('selftest2.csv')
selftest.math.mean()

74.61111111111111