## Pandas官网学习：http://pandas.pydata.org/

## 第一章 Series和DataFrame的构造

### 0.Pandas概述

* Pandas是python的一个数据分析包，是基于NumPy 的一种工具,最初由AQR Capital Management于2008年4月开发，并于2009年底开源出来，目前由专注于Python数据包开发的PyData开发team继续开发和维护，属于PyData项目的一部分。Pandas的名称来自于面板数据（panel data）和python数据分析(data analysis)。
* Pandas最初被作为金融数据分析工具而开发出来，因此，pandas为时间序列分析提供了很好的支持。
* 和Numpy一样，Pandas提供了Series和DataFrame两种数据结构，提供了一些内置函数。
* Pandas的内置函数计算速度不如Numpy中的内置函数计算速度快。

In [5]:
import pandas as pd
print(pd.__version__)
#print(pd.show_versions()) #详细显示当前pandas的环境，包括操作系统、相关联包的版本
#help(pd.concat)，和下边这行功能一样,详细了解这个函数的详细内容
pd.merge?
#shift+tab键的使用：当不知道某一个函数具体使用尤其是函数中的参数是什么时，将鼠标放在该函数处，
#按shift+tab键一次、两次、三次会逐步现实该函数详细介绍。此功能不仅对函数适用，对任何变量也适用。

0.22.0

### 1.创建Series(支持 Numpy的基本运算操作)

In [2]:
#Series支持 Numpy的基本运算操作，如向量化四则运算以及统计运算,这个很重要
import pandas as pd
import numpy as np
#1.字典生成Series
dic1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
s1=pd.Series(dic1)
np.max(s1)   #numpy中的函数可以作用在Series上
#2.列表生成Series(最常用的方法)
arr=[10,20,30,40,50]
s2=pd.Series(arr)
English1=pd.Series([80,90,95,98],index=["tom","jack","alice","luci"])  #给出索引由列表生成Series，最好的一种方法
print(English1)
print()
#3.由一维数组array生成的Series
my_array=np.array([10,20,30,40])
my_series=pd.Series(my_array,index=["tom","jack","alice","luci"])
print(my_series)

tom      80
jack     90
alice    95
luci     98
dtype: int64

tom      10
jack     20
alice    30
luci     40
dtype: int32

### 2.创建DataFrame

#### (1)由字典生成DataFrame

In [5]:
import numpy as np
import pandas as pd
data = {"name":["yahoo","google","facebook"], "marks":[200,400,800],\
        "price":[9, 3, 7]} 
f1 = pd.DataFrame(data)   #行索引默认数字序号
newdata = {"lang":{"firstline":"python","secondline":"java"}, \
           "price":{"firstline":8000,"secondline":3000}}
f2 = pd.DataFrame(newdata) #newdata字典本身就含有行索引和列索引

In [6]:
f2

              lang  price
firstline   python   8000
secondline    java   3000

#### (2)由列表生成DataFrame(最好的办法之一)

In [3]:
import pandas as pd
data1=[['yahoo',200,9],['google',400,3],['facebook',800,7]]
f3=pd.DataFrame(data1,columns=['name','price','marks'])
f4=pd.DataFrame(data1,columns=['name','price','marks'],index=['a','b','c'])

In [4]:
f4

       name  price  marks
a     yahoo    200      9
b    google    400      3
c  facebook    800      7

#### (3)由数组生成DataFrame(数组里边的元素类型必须一样才能创建)

In [ ]:
import numpy as np
import pandas as pd
data2=np.arange(12).reshape((3,4))
f5=pd.DataFrame(data2,columns=['n1','n2','n3','n4'],index=['wyx','yyf','glf'])

#### (4)从数据文件读入一个DataFrame（最好的办法之二）

In [25]:
import numpy as np
import pandas as pd
oly=pd.read_csv('olympics.csv',skiprows=4)
type(oly)    #显示oly的数据类型为DataFrame

pandas.core.frame.DataFrame

#### 练习题1：生成如下形式的一个Series,并打印显示出来。
![caption](scores.png)

In [11]:
#参考答案
import pandas as pd
import numpy as np
my_array=np.array([80,85,90,95,98,75])
my_series=pd.Series(my_array,index=["Math","English","Physics","Art","Chemistry","Sports"])
print(my_series)

Math         80
English      85
Physics      90
Art          95
Chemistry    98
Sports       75
dtype: int32

#### 练习题2：生成如下形式的一个DataFrame，并打印显示出来。
![caption](mydata.png)

In [17]:
#参考答案:
import numpy as np
import pandas as pd
my_values=[['lihong',80,90,'female','Yes'],['wangwu',90,100,'male','Yes'],\
           ['zhangsan',60,40,'male','No'],['liumei',85,95,'female','Yes']]
my_data=pd.DataFrame(my_values,columns=['name','math','english','sex','success'])
my_data

       name  math  english     sex success
0    lihong    80       90  female     Yes
1    wangwu    90      100    male     Yes
2  zhangsan    60       40    male      No
3    liumei    85       95  female     Yes