## 第四章 DataFrame的合并、分组操作

### 1.分组(groupby())(可以得到多个分组的DataFrame)（了解）

In [1]:
#1.分组
#groupby可以通过传入需要分组的参数实现对数据的分组
import pandas as pd
oly=pd.read_csv('olympics.csv',skiprows=4)
group1=oly.groupby('Edition')  #按时间分组，生成一个新对象DataFrameGroupBy，但不是DataFrame
group2=oly.groupby(['Edition','NOC'])  #多层分组
#list(group1)  
group1.size()   #是方法不是属性，给出各组的数据个数
group2.size()
#2.提取分组结果(index,columns都未变)
#通过get_group方法来获取某一指定分组的结果（返回DataFrame）。
group1.get_group(1912)   #提取;Edition=1912那组值，返回DataFrame(包含1912那一列)
b=group2.get_group((1912,'FRA'))  #多层分组提取，提取Edition=1912,NOC='FRA'那个分组，返回DataFrame

### 2.透视表（pivot table）(本质是一种分组计算）（了解）
* 相当于分组选定的数据列进行函数运算

In [2]:
#数据透视表 pivot table(改变index的值,操作只对数据类型列进行)
import pandas as np
import numpy as np
df = pd.read_excel("sales-funnel.xlsx")
df.head()
#将"Name"作为index,对各数据型列进行操作,默认是mean操作，返回作用结果
pd.pivot_table(df,index=["Name"])  
#将"Manager","Rep"作为index,对各数据型列进行操作，返回作用结果
pd.pivot_table(df,index=["Manager","Rep"]) 
#只对"Price"数据列进行操作
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"]) 
ss=pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=np.sum)
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=[np.mean,len])

                                     mean   len
                                    Price Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000     4
              Daniel Hilton  38333.333333     3
              John Smith     20000.000000     2
Fred Anderson Cedric Moss    27500.000000     4
              Wendy Yule     44250.000000     4

### 3.合并（append、insert）
* 常用append,insert实现行追加、列追加和列插入

#### (1)append(用于行追加数据，不能利用该命令做行插入)

In [3]:
#append是series和dataframe的方法，使用它就是按行进行追加数据（不能横拼接）
#append不能实现行插入，若想实现行插入功能，只能分块拆分再合并追加。
import pandas as pd
s1=[['a0','b0','c0','d0'],['a1','b1','c1','d1'],['a2','b2','c2','d2'],['a3','b3','c3','d3']]
s2=[['a4','b4','c4','d4'],['a5','b5','c5','d5'],['a6','b6','c6','d6'],['a7','b7','c7','d7']]
s3=[['a8','b8','c8','d8'],['a9','b9','c9','d9'],['a10','b10','c10','d10'],['a11','b11','c11','d11']]
s4=[['b2','d2','f2'],['b3','d3','f3'],['b6','d6','f6'],['b7','d7','f7']]
df1=pd.DataFrame(s1,index=[0,1,2,3],columns=['A','B','C','D'])
df2=pd.DataFrame(s2,index=[4,5,6,7],columns=['A','B','C','D'])
df3=pd.DataFrame(s3,index=[8,9,10,11],columns=['A','B','C','D'])    
df4=pd.DataFrame(s4,index=[2,3,6,7],columns=['B','D','F'])
result1 = df1.append(df3,ignore_index=True)  #忽略df3的index,重新以0,1,2,...定义新的index。

#### (2)insert(列插入，只能插入1列)

In [ ]:
#一个DataFrame,除在最右侧插入用标签直接创建外，其他列用.insert()方法进行插入。
import numpy as np
import pandas as pd
my_array=np.arange(20).reshape((4,5))
my_data=pd.DataFrame(my_array,columns=['A','B','C','D','E'])

#在最右侧增加一列，用标签创建
my_data['F']=pd.Series([89,90,100,110])
my_data['G']=np.array([89,90,100,110])
my_data['H']=[89,90,100,110]

#在非最右侧列增加一列数据(只能增加一列数据)
insert_col=np.array([89,90,100,110])
my_data.insert(4,'insert1',insert_col)#第4列前插入一列，这一列可以是列表、数组、series
my_data.insert(2,'insert2',1000)  #在第2列前插入全是2的1列

#### 练习题1：下边是两个DataFrame，请将第2个DataFrame附在第1个DataFrame下边生成一个新的DataFrame.
![caption](dfapp.png)

In [9]:
#参考答案
import pandas as pd
list1=[['a0','b0','c0','d0'],['a1','b1','c1','d1'],['a2','b2','c2','d2'],['a3','b3','c3','d3']]
list2=[['a4','b4','c4','d4'],['a5','b5','c5','d5'],['a6','b6','c6','d6'],['a7','b7','c7','d7']]
df1=pd.DataFrame(list1,columns=['A','B','C','D'])  
df2=pd.DataFrame(list2,columns=['A','B','C','D']) 
result = df1.append(df2,ignore_index=True)  #忽略df3的index,重新以0,1,2,...定义新的index。

#### 练习题2：根据下边给出的代码，按要求完成任务。   
已知代码：    
import numpy as np    
import pandas as pd    
my_array=np.arange(20).reshape((4,5))    
my_data=pd.DataFrame(my_array,columns=['A','B','C','D','E'])    
求：在my_data中新增1列标签为'MMM'的Series，其中元素分别是75,60,85,90.

In [1]:
#参考答案
import numpy as np
import pandas as pd
my_array=np.arange(20).reshape((4,5))
my_data=pd.DataFrame(my_array,columns=['A','B','C','D','E'])
my_data['MMM']=[75,60,85,90]
print(my_data)

    A   B   C   D   E  MMM
0   0   1   2   3   4   75
1   5   6   7   8   9   60
2  10  11  12  13  14   85
3  15  16  17  18  19   90