#### MySQL

In [ ]:
#1、 查询Student表中的所有记录的Sname、Ssex和Class列.
select SNAME, SSEX, CLASS from student;
#2、 查询教师所有的单位即不重复的Depart列。
select distinct Depart from teacher;
#4、 查询Score表中成绩在60到80之间的所有记录。
select * from score where 60 <= DEGREE <= 80;
select * from score where degree between 60 and 80;
#5、 查询Score表中成绩为85，86或88的记录。
select * from score where degree in (85,86,88);
#6、 查询Student表中“95031”班或性别为“女”的同学记录。
select * from student where class = 95031 or ssex = '女';
#7、 以Class降序查询Student表的所有记录。
select * from student order by class desc;
#8、 以Cno升序、Degree降序查询Score表的所有记录。
select * from score order by cno, degree desc;
#9、 查询“95031”班的学生人数。
select count(*) from student where class = 95031;
#10、查询Score表中的最高分的学生学号和课程号。
select sno, cno from score where degree = (SELECT max(degree) from score);
SELECT Sno, Cno, Degree
FROM Score
ORDER BY Degree DESC
LIMIT 1;
#11、查询‘3-105’号课程的平均分。
select cno, avg(degree) from score where cno = '3-105'; 
#12、查询Score表中至少有2名学生选修的并以3开头的课程的平均分数。
select cno, avg(degree) from score where cno like '3%' group by cno having count(*)>=2;
#13、查询最低分大于70，最高分小于90的Sno列。
select sno, max(degree) as maxdegree,min(degree) as mindegree from score group by sno having maxdegree<90 and mindegree>70;
#14、查询所有学生的Sname、Cno和Degree列。
select student.sname,score.cno,score.degree from student inner join score on student.sno=score.sno;
# 内连接
SELECT 
    Student.Sname, 
    Score.Cno, 
    Score.Degree
FROM 
    Student
INNER JOIN 
    Score ON Student.Sno = Score.Sno;
# 左连接		
SELECT 
    Student.Sname, 
    Score.Cno, 
    Score.Degree
FROM 
    Student
LEFT JOIN 
    Score ON Student.Sno = Score.Sno;
# 右连接	
SELECT 
    Student.Sname, 
    Score.Cno, 
    Score.Degree
FROM 
    Student
RIGHT JOIN 
    Score ON Student.Sno = Score.Sno;
# 全连接		
SELECT 
    Student.Sname, 
    Score.Cno, 
    Score.Degree
FROM 
    Student
FULL JOIN 
    Score ON Student.Sno = Score.Sno;
#15、查询所有学生的Sno、Cname和Degree列。
select score.sno, course.cname,score.degree from score inner join course on score.CNO=course.CNO;
#16、查询所有学生的Sname、Cname和Degree列。
select t1.sname,t2.cname,t3.degree from student t1,course t2,score t3 where t1.sno = t3.sno and t2.cno = t3.cno;
#17、查询“95033”班所选课程的平均分。
select t2.cname, avg(t3.degree) from student t1,course t2,score t3 where t1.sno = t3.sno and t2.cno = t3.cno and t1.CLASS = 95033 GROUP BY t2.CNAME;
#18、假设使用如下命令建立了一个grade表：
create table grade(low int,upp int,rank_lv char(1));
insert into grade values(90,100,'A');
insert into grade values(80,89,'B');
insert into grade values(70,79,'C');
insert into grade values(60,69,'D');
insert into grade values(0,59,'E');
commit;

#请查询所有同学的Sno、Cno和rank列。
SELECT 
    s.Sno,
    s.Cno,
    g.rank_lv AS `rank`
FROM 
    SCORE s
JOIN 
    GRADE g ON s.DEGREE BETWEEN g.low AND g.upp
ORDER BY 
    s.Sno, s.Cno;
#19、查询选修“3-105”课程的成绩高于“109”号同学成绩的所有同学的记录。
select 
	student.*,score.DEGREE
from
	student 
JOIN 
    score ON student.Sno = score.Sno
where score.CNO = '3-105'
	and score.degree > (select degree from score where sno = 109 and cno = '3-105') ;

#20、查询95033班和95031班全体学生的记录。
select * from student where class = 95033 or class = 95031;
#21、查询存在有85分以上成绩的课程Cno.
select cno from score group by cno having max(degree)>85;
#22、查询出“计算机系“教师所教课程的成绩表
select 
	* 
from
	score sc
JOIN
	course c on sc.cno = c.CNO
JOIN
	teacher t on c.tno = t.tno
WHERE
	t.DEPART = '计算机系';

#### PAT-1067 试密码

In [ ]:
true_password, times = input().split()
for i in range(int(times)):
    try_password = input()
    if try_password == '#':
        break
    if try_password == true_password:
        print("Welcome in")
        break
    else:
        print(f"Wrong password: {try_password}")
else:
    print("Account locked")

#### PAT-1063 计算谱半径

In [ ]:
import math

n = int(input())
max_radius = 0.0

for _ in range(n):
    a, b = map(int, input().split())
    radius = math.sqrt(a**2 + b**2)
    if radius > max_radius:
        max_radius = radius

print("{:.2f}".format(max_radius))

#### PAT-1014 福尔摩斯的约会
1. 第一二行中，第一对相同的大写字母代表周几(第几个字母就代表周几)
2. 第一二行中，第二对相同的大写字母代表几点(0~9,A~N)
3. 第三四行中，第一对相同的字母(无法确定大小写是否有区别,但题例中是小写(后续证明，只要字母相对就行，大写=大写，小写=小写))在第几位(0开始计数)就代表第几分钟

In [ ]:
str1 = input()
str2 = input()
str3 = input()
str4 = input()
count = 0
result = []
day_dict = {'A':'MON','B':'TUE','C':'WED','D':'THU','E':'FRI','F':'SAT','G':'SUN'}
HH_dict = {'0':'00','1':'01','2':'02','3':'03','4':'04','5':'05','6':'06','7':'07','8':'08','9':'09',
           'A':'10','B':'11','C':'12','D':'13','E':'14','F':'15','G':'16','H':'17','I':'18','J':'19',
           'K':'20','L':'21','M':'22','N':'23'}
for i in range(min(len(str1), len(str2))):
    if str1[i] == str2[i]: # 相同的字符
        #if 'A' <= str1[i] <= 'G' and count == 0:
        if ord(str1[i]) in range(65,72) and count == 0: # 大写字母,切是第一次出现
            result.append(day_dict[str1[i]])
            count += 1
        elif str1[i] in HH_dict and count == 1: # 时间,切是第二次出现相同
            result.append(HH_dict[str1[i]])
            break

for i in range(min(len(str3), len(str4))):
    if str3[i] == str4[i] and str3[i].isalpha(): # 相同的字母
        result.append(f'{i:02d}')
        break

print(f'{result[0]} {result[1]}:{result[2]}')

In [ ]:
str1 = input()
str2 = input()
str3 = input()
str4 = input()

result = []
day_dict = {'A': 'MON', 'B': 'TUE', 'C': 'WED', 'D': 'THU', 
            'E': 'FRI', 'F': 'SAT', 'G': 'SUN'}
HH_dict = {'0': '00', '1': '01', '2': '02', '3': '03', '4': '04',
           '5': '05', '6': '06', '7': '07', '8': '08', '9': '09',
           'A': '10', 'B': '11', 'C': '12', 'D': '13', 'E': '14',
           'F': '15', 'G': '16', 'H': '17', 'I': '18', 'J': '19',
           'K': '20', 'L': '21', 'M': '22', 'N': '23'}

# 查找日期和小时
found_day = False
for i in range(min(len(str1), len(str2))):
    if str1[i] == str2[i]:
        if not found_day and 'A' <= str1[i] <= 'G':  # 第一对相同大写字母（A-G）
            result.append(day_dict[str1[i]])
            found_day = True
        elif found_day and str1[i] in HH_dict:  # 第二对相同字符（0-9或A-N）
            result.append(HH_dict[str1[i]])
            break

# 查找分钟
for i in range(min(len(str3), len(str4))):
    if str3[i] == str4[i] and str3[i].isalpha():  # 相同字母（大小写均可）
        result.append(f"{i:02d}")  # 格式化为两位数
        break

# 输出结果
print(f"{result[0]} {result[1]}:{result[2]}")